<link rel="stylesheet" href="/css/productDetail.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/store.css">
<link rel="stylesheet" href="/css/featured.css">

<section id="prodetail" class="section-p1">
    <section class="details__group" aria-labelledby="product-title">
        <img src="{{product.image}}" alt="Imagen principal de {{product.title}}" class="details__img">
        {{#if product.thumbnail}}
        <div class="details__small-images grid" aria-label="Imágenes adicionales de {{product.title}}">
            {{#each product.thumbnail}}
            <img src="{{this.url}}" alt="Vista alternativa de {{product.title}}" class="details__small-img">
            {{/each}}
        </div>
        {{/if}}
    </section>

    <div class="single-pro-details">
        <h6>{{product.category}}</h6>
        <h4>{{product.title}}</h4>
        <h2>${{product.price}}</h2>
        <input type="number" value="1">
        <button class="normal">Añadir al carrito</button>
        <h4>Detalles del producto</h4>
        <span>{{product.description}}</span>
    </div>
</section>

{{> newArrival}}
{{> newsletter}}

<script src="/js/productDetail.js"></script>